<?xml version="1.0" encoding="UTF-8" ?>

<config>

  <entry key="title" label="Title">Caribou</entry>
  <entry key="icon" private="true">img/body.png</entry>
  <entry key="columns" private="true">3</entry>
  <entry key="types" private="true">dashboard</entry>
  <entry key="notifications" private="true">publish, rename</entry>
  <entry key="initial_height" private="true">300</entry>

</config>